#################################################
# Exclude all by default
#################################################
*

#################################################
# Whitelisted folders
#################################################
!audit_log*
!kerrokantasi*
!democracy*
!locale*
!deploy

#################################################
# Whitelisted files
#################################################
!config_dev.toml
!manage.py
!pytest.ini
!uv.lock
!package.json
!pyproject.toml
