-c requirements.txt

coveralls
distro
django-debug-toolbar
factory-boy
freezegun
jose
pip-tools
pytest
pytest-cov
pytest_django
pytest-factoryboy
requests-mock
# Keep this in sync with .pre-commit-config.yaml
ruff==0.7.1
