Django>3.2<4
djangorestframework
django-environ
django-extensions>=3.1.3
django-munigeo
django-reversion
django-cors-headers
django-filter
pillow
psycopg2>=2.9
easy-thumbnails
drf-nested-routers
drf-oidc-auth<1
xlsxwriter
django-helusers==0.7.1
pyjwt
django-enumfields>=0.8
pytz
jsonfield
django-nested-admin
django-geojson
django-leaflet
django-ckeditor
django-autoslug
django-sendfile
Babel
django-parler>=2.2.1
langdetect
sentry-sdk
whitenoise
social-auth-app-django>=5.0.0
python-pptx
ipython
