coveralls
Django<2
djangorestframework
django-environ
django-extensions
django-reversion
django-cors-headers
django-filter<2.0
pillow
psycopg2
easy-thumbnails
drf-nested-routers
xlsxwriter
-e git+https://github.com/City-of-Helsinki/munigeo@v0.2.12#egg=django-munigeo
django-helusers
djangorestframework-jwt
pyjwt
django-enumfields>=0.8
pytz
jsonfield
django-nested-admin
django-geojson
django-leaflet
django-ckeditor
django-autoslug
pytest<4.0
pytest_django
flake8
factory-boy>=2.8.1
pytest-cov
transifex-client
Babel
django-parler
langdetect
raven
