Django~=5.2.9
djangorestframework
django-environ
django-extensions
django-munigeo
django-reversion
django-cors-headers
django-filter
pillow
psycopg[c]
easy-thumbnails
drf-nested-routers
xlsxwriter
django-helusers
pyjwt
jsonfield
django-nested-admin
django-geojson
django-leaflet
django-autoslug
django-sendfile2
django-parler
langdetect
sentry-sdk
whitenoise
social-auth-app-django
python-pptx
ipython
helsinki-profile-gdpr-api
django-helsinki-notification[rest_framework]@https://github.com/City-of-Helsinki/django-helsinki-notification/archive/refs/tags/v0.4.0.zip
django-logger-extra@https://github.com/City-of-Helsinki/django-logger-extra/archive/refs/tags/v0.1.0.zip
django-resilient-logger@https://github.com/City-of-Helsinki/django-resilient-logger/archive/refs/tags/v0.3.7.zip
uwsgi
drf-spectacular
