-c requirements.txt

autoflake
coveralls
distro
django-debug-toolbar
factory-boy
freezegun
jose
pip-tools
pytest
pytest-cov
pytest_django
pytest-factoryboy
requests-mock

# Keep these tools in sync with .pre-commit-config.yaml
black==24.8.0
flake8==7.1.1
isort==5.13.2
